$pageWidth: 1170px;
$mainBoxWidth: 798px;
$sidebarWidth: 357px;
$themColor: #5c87b9;
$mainFontColor: #212121;
$assitFontColor: #878787;
$lineColor: #eeeeee;
$nav_height: 64px;
$bannerHeight: 202px;
$bannerWidth: $mainBoxWidth;
$freeColor:#7ed321;
$payColor: #f76363;
