{% extends 'base/front_base.html' %}

{% block title %}
    Homer|首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">

                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1585799101_895.jpg" alt="#"></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1585624042_417.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1585728685_608.png" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow" id="left-arrow">‹</span>
                    <span class="arrow right-arrow" id="right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>

                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">新消费</a></li>
                        <li><a href="#">教育</a></li>
                        <li><a href="#">物流</a></li>
                        <li><a href="#">保险医疗</a></li>
                    </ul>

                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1586653208_128.jpg-website.news.list"
                                                 alt=""></a>
                            </div>

                            <div class="news-group">
                                <p class="news-title"><a href="">热点
                                    早报：西贝因涨价道歉；特斯拉半数美国销售和交付人员临时休假；新加坡暂停使用Zoom在线授课</a></p>
                                <p class="desc">广东餐饮协会提议美团：取消独家条款，降佣5%及以上
                                    西贝特斯拉Zoom40分钟前史素云</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">一小时前</span>
                                    <span class="author">Homer</span>
                                </p>
                            </div>
                        </li>
                    </ul>

                    <div class="load-more">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>

            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}
