
{% extends 'base/front_base.html' %}

{% block title %}
    Homer|新闻详情页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="news">
                <h1 class="title">【小饭桌早报】京东618下单同比增长100%；苏宁家中惊现葫芦娃！</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="author">葫芦娃</span>
                        <span class="pub-time">08月4日</span>
                        <span class="category">热点</span>
                    </div>
                    <div class="share-group">
                        <span>分享至:</span>
                        <a href="" class="weixin share-item"></a>
                        <a href="" class="weibo share-item"></a>
                    </div>
                </div>

                <article class="article">
                    <p><span style="font-size: 16px; color: rgb(63, 63, 63);">近日，国际顶级固态激光雷达解决方案提供商一径科技宣布完成A+轮融资，由复星锐正资本和松禾资本联合领投，融资总额达到7000万元。据悉，本轮资金将用于车规级MEMS激光雷达的量产及市场推广。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">激光雷达为自动驾驶、机器人等领域通用型传感器，目前处于技术创新带来市场空间快速增长的红利期。据统计，至2030年，全球每年新车销售量将达1.2亿，其中，超过25%左右搭载L3级以上自动驾驶系统，而激光雷达需求量将突破5000万台，年复合增长率达69%。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">作为国际顶级固态激光雷达提供商，一径科技成立于2017年11月，面向乘用车、商用车及多种工业应用场景提供自主研发的MEMS 激光雷达产品，其ML系列产品是目前市场上唯一能解决车辆盲区探测的方案，产品已通过若干项高难度的车规级认证。一径科技的核心团队来自清华大学、MIT、马德里理工等国际知名高校，创始人兼CEO石拓博士为集成光电子芯片的专家，拥有十余年集成光电芯片的研发和产业经验。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><img
                            src="https://static-image.xfz.cn/1586226335_984.png" title="" alt="1.png"></span></p>
                    <p style="text-align: center;"><span style="color: rgb(63, 63, 63); font-size: 14px;">一径科技MEMS激光雷达点云图</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">“正是因为石博士团队在光电集成芯片和MEMS激光雷达领域的多年研发经验和产业资源积累，同时加持产业链上游厂商的认可，其打造的ML系列产品已经具有车规级可靠性的能力。我们也非常欢迎一径科技成为复星锐正在自动驾驶领域里的又一重要同行伙伴。”复星锐正资本在谈到对一径科技的投资时表示。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">在激光雷达这个赛道，产品性能是最好的背书。2020年CES展上，一径科技发布了全球首个面向车规级量产的MEMS激光雷达全套解决方案：长距+中短距盲区结合的MEMS激光雷达解决方案——ML激光雷达系列。其中，包括目前拥有最大视场角的MEMS中短距激光雷达ML-30/30s (水平视场角&gt;=140度，垂直视场角&gt;=70度)和探测距离达200米的长距激光雷达ML-X系列 （等效扫描线数为200线）。该解决方案可以兼顾前向200m超远探测、及车辆周身360度盲区覆盖的高分辨率感知需求。此解决方案的发布，加速了高等级自动驾驶在无人物流与配送、无人矿卡、巴士、Robotaxi等领域的落地步伐。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">相较优秀的性能，激光雷达作为无人驾驶最重要的传感器件，安全性和可靠性则更具竞争优势。“对于激光雷达结构来说，相比于传统的机械式或遭遇极大技术挑战的OPA技术路线，MEMS激光雷达兼顾了寿命、车规、量产、成本等优势，因而成为了众多主机厂瞄准量产的唯一选择。MEMS激光雷达可靠性的核心还是在于硅基MEMS及其配套光电系统的设计。目前，一径科技的激光雷达在1000Hz随机振动和50G的振动测试以及-40~85摄氏度的高低温循环测试中依然能展现出优秀的性能，为车规级激光雷达的目标打下坚实的基础。同时，一径科技已经在激光雷达功能安全、车规体系认证等方面开展大量工作，今年将全面推进车规级产品化的进程。”一径科技创始人石拓博士介绍道。</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><img
                            src="https://static-image.xfz.cn/1586226319_993.png" title="" alt="2.png"></span></p>
                    <p style="text-align: center;"><span
                            style="color: rgb(63, 63, 63); font-size: 14px;">一径科技常熟工厂</span></p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">作为本轮投资方，松禾资本合伙人袁宏伟表示：“目前国内来看整个赛道，一径科技是中国第一家已经做到自研芯片和量产的企业，是目前行业内绝对的头部公司。这个赛道我们认为全球一定会出现一家全固态激光雷达领域的Mobileye，目前从规模化采用一径科技下游重点客户的访谈来看，一径科技的产品指标已经全面位居中国第一的位置。”</span>
                    </p>
                    <p><span style="color: rgb(63, 63, 63); font-size: 16px;">据悉，凭借一径科技卓越的产品测试性能和稳定性表现，ML激光雷达系列已经获得市场的积极反馈与认可，成为自动驾驶车企业争相定购的“火眼金睛”。目前，一径科技已经与全球多家顶尖自动驾驶公司签订合作协议，同时苏州常熟工厂已经投入到紧锣密鼓的量产准备工作中，一期规划年产能达5万台。未来，公司将用世界领先的的激光雷达设备推动中国人工智能技术的落地与发展，印证中国自动驾驶技术的强大。</span>
                    </p>
                </article>
            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <textarea name="comment" id="" class="comment-textarea nologin-textarea logined-textarea"
                          placeholder="立即登陆，参与评论～"></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1577153468_501.jpg" alt="" class="avatar">
                            <span class="author">小知了</span>
                            <span class="pub-time">一小时前</span>
                        </div>
                        <p class="comment-comment">这是一条评论</p>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1577153468_501.jpg" alt="" class="avatar">
                            <span class="author">小知了</span>
                            <span class="pub-time">一小时前</span>
                        </div>
                        <p class="comment-comment">这是一条评论</p>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}
